[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
"oauth2client" = "*"
apiclient = "*"
google-api-python-client = "*"
pypandoc = "*"

[dev-packages]
pylint = "*"
"autopep8" = "*"